################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/LambdaDemo/.vs
/LambdaDemo/LambdaQueueProcessor/bin/
/LambdaDemo/LambdaQueueProcessor/obj/
